<%- contentFor('body') %>

<div id="page-wrapper">
	<div class="container-fluid">



		<h2>State Chart Diagram of Poverty Eradication Model</h2>
		<!-- /.row -->

		<div class="row">

			
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> State Chart</h3>
			</div>

			<img src="/images/stateChart.png" style="width: 800px; " />


		</div>

		<h2>Data Flow Diagram of Poverty Eradication System</h2>
		<!-- /.row -->

		<div class="row">

			
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> DFDs</h3>
			</div>

			<img src="/images/DFDs.png" style="width: 800px;" />


		</div>
		
		<h2>Flow Chart of human status based on Income</h2>
		<!-- /.row -->

		<div class="row">

			
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Flow Chart</h3>
			</div>

			<ul>
				<li>K = 1000 Taka</li>
				<li>In = Income</li>
			</ul>

			<img src="/images/flowChart.png" style="width: 700px;" />


		</div>


		<h2>ER Diagram of Poverty Eradication System </h2>
		<!-- /.row -->

		<div class="row">

			
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> ER Diagram</h3>
			</div>

			<img src="/images/entity.png" style="width: 700px;" />


		</div>


		<h2>Recomendation Chart</h2>
		<!-- /.row -->

		<div class="row">

			
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Recomendation Chart</h3>
			</div>

			<img src="/images/rec.png" style="width: 700px;" />


		</div>
		
	</div>


	

</div>
