<%- contentFor('body') %>

<div id="page-wrapper">
<div class="container-fluid">

<section>
  <h1> We need some surveyor urgently!!</h1>
  <p>If you ready to help the poor and extremely poor people then you can apply as a surveyor. An attractive opportunity is waiting for you. 
<br>
<br>

  Thanks<br>
  Authority
  </p>
</section>


</div>

</div>