<%- contentFor('body') %>

<div id="page-wrapper">
<div class="container-fluid">

<section>
  <h1>Methods used at reducing poverty </h1>
  <p>Poverty cannot be completely eradicated, as it largely caused by human factors. Over the past years there has been a lot of Poverty Alleviation Programs designed to break the cycle of poverty in many households and communities in the world. The result is remarkable, but there is still a lot to be done.

Poverty alleviation involves the strategic use of tools such as education, economic development, health and income redistribution to improve the livelihoods of the worlds poorest by governments and internationally approved organizations. They also aim at removing social and legal barriers to income growth among the poor. Why are these tools important?.</p>
</section>

<section>
  <h1>1.Education</h1>
  <p>Quality education empowers people to take advantage of opportunities around them. It helps children get knowledge, information and life skills they need to realize their potential. Training teachers, building schools, providing education materials and breaking down that prevent children from accessing education are important features of poverty alleviation programmes.</p>
</section>

<section>
  <h1>2.Health, food and water</h1>
  <p>Many programs aim at feeding kids at school and providing health services as well. This encourages parents to send the children to school and keep them there. If children have food to eat, and are healthy, they can learn and respond to the needs of the programme.</p>
</section>

<section>
  <h1>3.Provision of skills and Training</h1>
  <p>The youth and able-to-work in the communities are provided skills to help with farm work or other economic activity, which helps them earn money to make a living and take care of their families. </p>
</section>

<section>
  <h1>4.Income redistribution</h1>
  <p>It is important that the government extends its development programs such as roads, bridges, and other economic facilities to rural areas, to make it easy for goods and services and farm produce to move to and from the farming communities.

With a bit of effort in the areas mentioned above, it won’t take long to see real improvements in the living conditions of the community.</p>
</section>
</div>

</div>