<%- contentFor('body')%>  



<div id="page-wrapper">
 <div class="container-fluid">
  <br>
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Edit:
        <small>Edit Training Institute</small>
      </h1>
      <div class="col-md-6 col-md-offset-3" style="text-align: center;">
        <div id="showResult" role="alert"></div>
      </div>
    </div>
  </div>
 


    <form class="form-horizontal" role="form" method="post">

     <div class="col-xs-6" style="padding-right: 50px">

    <div class="form-group">
       <label for="name">ID:</label>

       <input type="text" class="form-control" id="id" name="id" placeholder="Enter your name" required>
       
     </div>
     <button type="button" class="btn btn-default" id="search">Search</button>

      <div class="form-group">
        <h6 class="column-title"><i class="fa fa-user fa-2x blue"> Institute Information</i></h6>
        <label for="name">Name:*</label>
        <input type="text" class="form-control" id="name" name="name"  placeholder="Enter your Institute name" required>
        <span class="red"></span>
      </div>

      <div class="form-group">
        
        <label for="short_name">Institute short Name:*</label>
        <input type="text" class="form-control" id="short_name" name="short_name" placeholder="Enter your Institute short name like BKTC" required>
        <span class="red"></span>
      </div>

      <div class="form-group">
        <label  for="email">Contact Email:</label>

        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>

      </div>


      <div class="form-group">
        <label  for="phone">Contact Phone:</label>

        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter contact number" required>

      </div>

      <div class="form-group">
        <label  for="webAddress">Web Address:</label>

        <input type="text" class="form-control" id="webAddress" name="webAddress" placeholder="Enter Your web Address">

      </div>

       <div class="form-group">
      <label for="ins_type">Institute Type *</label>
      <select name="ins_type" class="form-control" id="ins_type" required>
        <option value="">Select Institute Type</option>
        <option value="Technical">Technical</option>
        <option value="Agricultural">Agricultural</option>
        <option value="Medical">Medical</option>
        <option value="Information Center">Information Center</option>
        <option value="NGO">NGO</option>
     
      </select>               
      <span class="red"></span>            
    </div>


      <div class="form-group">
      <label for="ac_status">Acount Status:</label>
      <select name="ac_status" class="form-control" id="ac_status" required>
        <option value="">Select Status</option>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>  
        <option value="Request">Request</option>   
      </select>               
      <span class="red"></span>            
    </div>


      </div>

      <div class="col-xs-6" style="padding-left: 50px">

       
       <div class="form-group">
       <h6 class="column-title"><i class="fa fa-home fa-2x blue"> Address</i></h6>

        <label  for="division">Division:*</label>

        <input type="text" class="form-control" id="division" name="division" placeholder="Enter division name" required>

      </div>
      <div class="form-group">
        <label for="district">District:*</label>

        <input type="text" class="form-control" id="district" name="district" placeholder="Enter district Name">

      </div>
      <div class="form-group">
        <label for="ps">P.S:*</label>

        <input type="text" class="form-control" id="ps" name="ps" placeholder="Enter ps Address" required>

      </div>
      <div class="form-group">
        <label  for="postCode">Post Code:*</label>

        <input type="number" class="form-control" id="postCode" name="postCode" placeholder="Enter post code" required>

      </div>

        <br>

        <h6 class="column-title"><i class="glyphicon glyphicon-log-in fa-2x blue"> Login Info</i></h6>

       <div class="form-group">
        <label  for="userName">User Name:*</label>

        <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter your user name" required>

      </div>
      <div class="form-group">
        <label for="password">Password:*</label>


        <input type="text" class="form-control" id="password" name="password" placeholder="Enter your password">

      </div>

      <div class="form-group">
      <h6 class="column-title"><i class="fa fa-graduation-cap fa-2x blue"> Academic Information</i></h6>

        <label for="training_name">List of Training Name</label>
        <p>Example <br>1. Automobiles<br> 2. Electronics</p>
       <textarea rows="8" cols="60" id="training_name" name="training_name">
        
        </textarea>

      </div>

    </div>



    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
       <div class="form-group">
        <label>
          <input type="checkbox" id="check"> Yes, I would like to Update Institute Account!
        </label>
      </div>

      <button type="submit" id="update" class="btn btn-primary btn-lg btn-block">Update</button>

    </div>
  </div>
</form>

</div>

</div>

</div>




<script type="text/javascript"> 
 $('#update').attr('disabled','disabled');
 

 $("#check").change( function(){
   if( $(this).is(':checked') ) {
     $('#update').removeAttr('disabled');
   }else{
    $('#update').attr('disabled','disabled');
  }
});


 $("#search").click(function(event) {
   var id  = $("#id").val();

   $.ajax({
     url: '/edit_institute/api/institute/'+id,
     type: 'get',
     dataType: 'json',
     //data: {param1: 'value1'},
     headers: {
      'Content-Type': 'application/json;charset=utf-8'
    }

  })
   .done(function(result) {

     $("#name").val(result[0].name);
     $("#email").val(result[0].email);
     $("#phone").val(result[0].phone);
     $("#short_name").val(result[0].short_name);
     $("#webAddress").val(result[0].webAddress);
      $("#training_name").val(result[0].training_name);

     $("#division").val(result[0].division);
     $("#district").val(result[0].district);

     $("#userName").val(result[0].userName);
     $("#password").val(result[0].password);


     $("#ps").val(result[0].ps);
     $("#postCode").val(result[0].postCode);
     $("#ac_status").val(result[0].ac_status).change();
     $("#ins_type").val(result[0].ins_type).change();

 




})
   .fail(function() {
     console.log("error");
   })
   .always(function() {
     console.log("complete");
   });
   
 });



</script>