<%- contentFor('body')%>  

<!--tab one -->
<!--tab one -->

<div id="page-wrapper">
	<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 own">
			<center><strong class="text-info" style="font-family:'Cooper Black'; font-size:20px"><i class="fa fa-user"></i>Member Profile</strong></center>
		</div>
	</div>
	<br/>
	<!-- setting variables -->
	<div class="row">
		<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 text-center">
			<img class="img img-thumbnail" style="width:250px; height:275px" src="http://www.kansathighschool.com/centennial/upload/applicant/1477892684_147792.jpg">
			<h3 class="text-center" style="font-family:'Cooper Black'">Md. Motiur Rahman</h3>
			<h4 class="text-center gray">Member ID: 321</h4>

		</div>

		<div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">

			<div>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-th-large"></i> Personal Info</a></li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-graduation-cap"></i> Academic Info</a></li>
					<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-flag"></i> Address</a></li>
					<li role="presentation"><a href="#messages1" aria-controls="messages1" role="tab" data-toggle="tab"><i class="fa fa-user-plus"></i> Additional Info</a></li>

				</ul>


				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<blockquote>
									<p><i class="fa fa-user"></i> Name</p>
									<footer>Md. Motiur Rahman</footer>
								</blockquote>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<blockquote>
									<p><i class="fa fa-male"></i> Name of Father</p>
									<footer>Md. Hanzala Kabir</footer>
								</blockquote>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<blockquote>
									<p><i class="fa fa-female"></i> Mother name</p>
									<footer>Mst. Zakera Khatun</footer>
								</blockquote>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<blockquote>
									<p><i class="fa fa-user"></i> Name of Spouse</p>
									<footer>Mst. Azmeri Khatun</footer>
								</blockquote>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<blockquote>
									<p><i class="fa fa-user"></i> Gender</p>
									<footer>Male</footer>
								</blockquote>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<blockquote>
									<p><i class="fa fa-magnet"></i> Religion</p>
									<footer>Islam</footer>
								</blockquote>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<blockquote>
									<p><i class="fa fa-heart-o"></i> Blood Group</p>
									<footer>A+</footer>
								</blockquote>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<blockquote>
									<p><i class="fa fa-birthday-cake"></i> Date of Birth</p>
									<footer>1989-12-29</footer>
								</blockquote>
							</div>							
						</div> 

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<blockquote>
									<p><i class="fa fa-mobile-phone"></i> Mobile No.</p>
									<footer>01723306519</footer>
								</blockquote>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<blockquote>
									<p><i class="fa fa-envelope"></i> Email Address</p>
									<footer>motiur.mbstu@gmail.com</footer>
								</blockquote>
							</div>							
						</div>


					</div>	<!-- end tab panel -->					

					<!-- tab one close -->

					<!-- tab 2 start -->

					<div role="tabpanel" class="tab-pane" id="profile">						
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
								<blockquote>
									<p><i class="fa fa-certificate"></i> Degree</p>
									<footer>SSC</footer>
								</blockquote>
							</div>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
								<blockquote>
									<p><i class="fa fa-calendar-times-o"></i> Session</p>
									<footer>2003-2004</footer>
								</blockquote>
							</div>



							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<blockquote>
									<p>
										<i class="fa fa-book"></i>Group</p>
										<footer>
										</footer>
									</blockquote>
								</div>							
							</div>

						</div>
						<!-- tab 2 closes -->

						<!-- tab three starts -->	
						<div role="tabpanel" class="tab-pane" id="messages">

							<div class="row">

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<blockquote>
										<p>
											<i class="fa fa-anchor">
											</i> 
											Present Address
										</p>
										<footer>
											District&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbspDhaka<br/>Thana &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbspMirpur<br>Post Office &nbsp&nbsp:&nbsp1216<br>Village &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbspWest kazipara<br>									</footer>
										</blockquote>
									</div>

									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<blockquote>
											<p>
												<i class="fa fa-anchor">
												</i> 
												Permanent Address
											</p>
											<footer>
												District&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbspChapai Nawabganj<br/>Thana &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbspShibganj<br>Post Office &nbsp&nbsp:&nbsp6341<br>Village &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:&nbspKansat Bohala Bari<br>									</footer>
											</blockquote>
										</div>
									</div> <!-- END ROW -->
								</div>	<!-- end tab panel -->


								<!-- tab 4 start -->

								<div role="tabpanel" class="tab-pane" id="messages1">						

									<div class="row">

										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
											<blockquote>
												<p><i class="fa fa-cc-amex"></i> National ID/Passport No.</p>
												<footer></footer>
											</blockquote>
										</div>

										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
											<blockquote>
												<p><i class="fa  fa-bookmark-o"></i> Hobby</p>
												<footer></footer>
											</blockquote>
										</div>

										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<blockquote>
												<p><i class="fa fa-sticky-note"></i> Quote</p>
												<footer>
													Now I can realize, It was a nice time when I was at School									</footer>
												</blockquote>
											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
												<blockquote>
													<p>
														<i class="fa fa-home">											
														</i>
														Job
													</p>
													<footer>
														Mobile Apps Developer									</footer>
													</blockquote>
												</div>

												<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
													<blockquote>
														<p>
															<i class="fa fa-thumbs-up">
															</i> 
															Sweet Memory</p>
															<footer>
															</footer>
														</blockquote>
													</div>

												</div>

											</div>
											<!-- tab 4 closes -->


										</div> <!-- end tab content -->
										<!-- tab one close -->

										<!-- tab 2 start -->

									</div>
								</div>
							</div>
						</div>
					</div>

