<%- contentFor('body')%>  



<div id="page-wrapper">
 <div class="container-fluid">
  <br>
  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Registration:
        <small>Register to your Institute</small>
      </h1>
      <div class="col-md-6 col-md-offset-3" style="text-align: center;">
        <div id="showResult" role="alert"></div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">


    <form class="form-horizontal" role="form" method="post">

      <div class="form-group">
        <h6 class="column-title"><i class="fa fa-user fa-2x blue"> Institute Information</i></h6>
        <label for="name">Name:*</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Institute name" required>
        <span class="red"></span>
      </div>

      <div class="form-group">
        
        <label for="short_name">Institute short Name:*</label>
        <input type="text" class="form-control" id="short_name" name="short_name" placeholder="Enter your Institute short name like BKTC" required>
        <span class="red"></span>
      </div>

      <div class="form-group">
        <label  for="phone">Contact Phone:</label>

        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter contact number" required>

      </div>

      <div class="form-group">
        <label  for="webAddress">Web Address:</label>

        <input type="text" class="form-control" id="webAddress" name="webAddress" placeholder="Enter Your web Address">

      </div>

      
      
      <div class="form-group">
      <h6 class="column-title"><i class="fa fa-graduation-cap fa-2x blue"> Academic Information</i></h6>

        <label for="training_name">List of Training Name</label>
        <p>Example <br>1. Automobiles<br> 2. Electronics</p>
     
       <textarea rows="8" cols="60" class="form-control" id="training_name" name="training_name" style="resize:none" required></textarea>

      </div>




      </div>

      <div class="col-xs-6">

       <h6 class="column-title"><i class="fa fa-home fa-2x blue"> Address</i></h6>

       <div class="form-group">
        <label  for="division">Division:*</label>

        <input type="text" class="form-control" id="division" name="division" placeholder="Enter division name" required>

      </div>
      <div class="form-group">
        <label for="district">District:*</label>

        <input type="text" class="form-control" id="district" name="district" placeholder="Enter district Name">

      </div>
      <div class="form-group">
        <label for="ps">P.S:*</label>

        <input type="text" class="form-control" id="ps" name="ps" placeholder="Enter ps Address" required>

      </div>
      <div class="form-group">
        <label  for="postCode">Post Code:*</label>

        <input type="number" class="form-control" id="postCode" name="postCode" placeholder="Enter post code" required>

      </div>

        <br>

        <div class="form-group">
      <label for="ins_type">Institute Type *</label>
      <select name="ins_type" class="form-control" id="ins_type" required>
       <option value="">Select Institute Type</option>
        <option value="Technical">Technical</option>
        <option value="Agricultural">Agricultural</option>
        <option value="Medical">Medical</option>
        <option value="Information Center">Information Center</option>
        <option value="NGO">NGO</option>
     
      </select>               
      <span class="red"></span>            
    </div>

      <h6 class="column-title"><i class="glyphicon glyphicon-log-in fa-2x blue"> Login Info</i></h6>
       <div ><p id="resultInfo" ></p></div>


       <div class="form-group">
        <label  for="email">Login Email:*</label>

        <input type="text" class="form-control" id="email" name="email" placeholder="Enter your login email" required>

      </div>
      <div class="form-group">
        <label for="password">Password:*</label>


        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">

      </div>
      <div class="form-group">
        <label for="re_password">Confirm Password:*</label>

        <input type="password" class="form-control" id="re_password" name="re_password" placeholder="Enter your password again" required>

      </div>

       <div class="form-group">

       <button type="button" class="btn btn-primary" id="serverCheck"><i class="fa fa-spinner fa-spin"></i> Email and Pass Checking</button>
     </div>

     <div class="form-group">

      <button type="button" id="checkUser" class="btn btn-primary">Check Email & Pass</button>

    </div>


    </div>



    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
       <div class="form-group">
        <label>
          <input type="checkbox" id="check"> Yes, I would like to work for the people!
        </label>
      </div>

      <button type="submit" id="insert" class="btn btn-primary btn-lg btn-block">Submit</button>

    </div>
  </div>
</form>

</div>

</div>

</div>




<script type="text/javascript"> 
 $('#insert').attr('disabled','disabled');
 $("#noMarrage").click(function(event) {
  $("#childNumber").hide();
});

 $("#yesMarrage").click(function(event) {
  $("#childNumber").show();
});

 

 $("#check").change( function(){
   if( $(this).is(':checked') ) {
     $('#insert').removeAttr('disabled');
   }else{
    $('#insert').attr('disabled','disabled');
  }
});



</script>

<script type="text/javascript">

  $(document).ready(function(){
     $("#serverCheck").hide();

   $("#checkUser").click(function() {

    if($("#email").val() == ""){
       $("#email").focus();
    }
    else if($("#password").val() == ""){
      $("#password").focus();
    } else if ($("#re_password").val() == "") {
      $("#re_password").focus();
    } else if ($("#password").val() == $("#re_password").val()) {

     $("#serverCheck").show();
     $("#checkUser").hide();
     $.ajax({
      url: 'institute_signup/userNamecheck/'+$("#email").val(),
      type: 'GET',
      dataType: 'json',

    })
     .done(function(result) {

      $("#serverCheck").hide();
      $("#checkUser").show();
     

      if (result == "User Email is OK") {

        $("#resultInfo").removeClass("alert alert-danger").addClass("alert alert-success").text(result);
      } else {

        $("#resultInfo").removeClass("alert alert-success").addClass("alert alert-danger").text(result);


      }


    })
     .fail(function() {
      $("#resultInfo").removeClass("alert alert-success").addClass("alert alert-danger").text(result);
    })
     .always(function() {
      console.log("complete");
    });


   } else {
 
 $("#resultInfo").removeClass("alert alert-success").addClass("alert alert-danger").text("Password does not match");

}
});
 });

</script>>